<footer>
    <div class="container mt-4">
        <div class="columns">
            <div class="column is-6 has-text-left has-text-centered-mobile">
                Copyright &copy;
                <script>document.write(new Date().getFullYear().toString())</script>
                <a href="https://github.com/Pzdrs">Petr Boháč</a>
            </div>
            <div class="column is-6 has-text-right is-hidden-mobile">
                <i class="fa-solid fa-envelope px-1"></i>
                <a href="mailto:mojebanka@stb.cz">mojebanka@stb.cz</a>
                <i class="fa-solid fa-phone pl-3 pr-1"></i>
                <span>+420 955 551 552</span>
            </div>
        </div>
    </div>
</footer>