<header>
    <div class="container navbar" style="height: 100%; display: flex; align-items: center; justify-content: flex-end">
        <a href="" class="navbar-item">
            <i class="fa-regular fa-envelope"></i>
            Zpravy
        </a>
        <a href="" class="navbar-item">
            <i class="fa-solid fa-user"></i>
            Petr Bohac
        </a>
        <a href="" class="navbar-item">
            <i class="fa-solid fa-gear"></i>
            Nastavení
        </a>
        <a href="" class="logout">
            <i class="fa-solid fa-power-off fa-xl has-text-danger-dark"></i>
        </a>
    </div>
</header>