<header class="top-navbar">
    <div class="container navbar" style="height: 100%; display: flex; align-items: center; justify-content: flex-end">
        <a href="{% url 'bank:dashboard' %}" class="mr-5">
            <i class="fa-solid fa-house fa-xl"></i>
        </a>
        <a href="" class="navbar-item">
            <i class="fa-solid fa-envelope"></i>
            Zprávy
        </a>
        <a href="" class="navbar-item">
            <i class="fa-solid fa-user"></i>
            {{ request.user.get_full_name }}
        </a>
        <a href="{% url 'accounts:preferences' %}" class="navbar-item">
            <i class="fa-solid fa-gear"></i>
            Nastavení
        </a>
        <a href="{% url 'accounts:logout' %}" class="logout">
            <i class="fa-solid fa-power-off fa-xl has-text-danger-dark"></i>
        </a>
    </div>
</header>