{% extends 'base_template.html' %}
{% block body %}
    <div class="hero is-fullheight" style="background-color: #efefef">
        <div class="hero-body is-justify-content-center is-align-items-center">
            <form method="post">{% csrf_token %}
                <div class="columns is-flex is-flex-direction-column box">
                    <div class="column">
                        <label class="label" for="username">Username</label>
                        <input name="username" class="input is-info" type="text" placeholder="Username">
                    </div>
                    <div class="column">
                        <label class="label" for="password">Password</label>
                        <input name="password" class="input is-info" type="password" placeholder="Password">
                        <a href="#" class="is-size-7 has-text-grey">Forgot password?</a>
                    </div>
                    <div class="column">
                        <button class="button is-link is-fullwidth" type="submit">
                            <i class="fa-solid fa-right-to-bracket"></i>&nbsp;
                            Sign in
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}