{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% static 'favicon.svg' %}">
    <title>
        {% block title %}
            {% if title %}
                {{ title }} | STB
            {% else %}
                {{ defaults.title }}
            {% endif %}
        {% endblock %}
    </title>
    {% block css %}{% include 'includes/css.html' %}{% endblock %}
    {% block extra_css %}{% endblock %}
    {% block js %}{% include 'includes/js.html' %}{% endblock %}
    {% block extra_js %}{% endblock %}
</head>
<body>
{% block body %}
    {% include 'includes/header.html' %}
    <main>
        <div class="container">
            {% block messages %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="notification {{ message.tags }}">
                            <button class="delete" onclick="this.parentElement.remove()"></button>
                            {{ message|safe }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endblock %}
            {% block content %}{% endblock %}
        </div>
    </main>
    {% include 'includes/footer.html' %}
{% endblock %}
</body>
</html>