{% extends 'base_template.html' %}
{% block content %}
    <span class="is-size-4 has-text-info-dark">
        {{ account.display_name }}
        {% if account.name %}
            <span class="has-text-weight-light">({{ account.get_type_display }})</span>
        {% endif %}
    </span>
    <br>
    <span class="is-size-6 has-text-grey">
        {{ object.get_account_number }}
    </span>
    <hr class="my-2">
    <p class="mb-2">
        <span class="is-size-5 has-text-info">Zůstatek</span>
        <span class="is-size-6 has-text-grey-light">{{ object.assets_overview }}</span>
    </p>
    {% if not object.get_currency_balances %}
        <span class="has-text-grey-light">Nic zde zatím není</span>
    {% endif %}
    <div class="columns is-multiline">
        {% for currency_balance in object.get_currency_balances %}
            <div class="column is-4">
                <div class="card">
                    <header class="card-header is-flex is-justify-content-space-between">
                        <p class="px-3 py-4 has-text-weight-medium">
                            {{ currency_balance.balance_display }}
                            <span class="has-text-weight-light">({{ currency_balance.currency }})</span>
                        </p>
                        {% if currency_balance.default_balance %}
                            <span class="tag is-success is-light" style="border-radius: 0 4px 0 4px">Default</span>
                        {% else %}
                            <form action="{% url 'bank:account-change-default-currency' currency_balance.account.pk %}"
                                  method="post">
                                {% csrf_token %}
                                <input type="hidden" name="currency" value="{{ currency_balance.currency }}">
                                <input type="checkbox" onclick="this.form.submit()" class="m-2" title="Nastavit tuto měnu jako výchozí pro tento účet">
                            </form>
                        {% endif %}
                    </header>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}