{% extends 'base_template.html' %}
{% block content %}
    <span class="is-size-4 has-text-info-dark">
        {{ account.display_name }}
        {% if account.name %}
            <span class="has-text-weight-light">({{ account.get_type_display }})</span>
        {% endif %}
    </span>
    <br>
    <span class="is-size-6 has-text-grey">
        {{ object.get_account_number }}
    </span>
    <hr class="my-2">
    <p class="mb-2">
        <span class="is-size-5 has-text-info">Zůstatek</span>
        <span class="is-size-6 has-text-grey-light">{{ object.assets_overview }}</span>
    </p>
    {% if not object.get_balances %}
        <span class="has-text-grey-light">Nic zde zatím není</span>
    {% endif %}
    <div class="columns is-multiline">
        {% for currency_balance in object.get_balances %}
            {% include 'includes/account_balance_card.html' with balance=currency_balance %}
        {% endfor %}
    </div>
{% endblock %}